body {
    background: none repeat scroll 0 0 lightBlue;
}
table {
    border: 1px solid;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 100%;
}
thead {
    display: table-header-group;
}
th {
    border-bottom: 2px solid;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 10px 10px;
}
tr {
    page-break-inside: avoid;
}
td {
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 10px;
}
.scoreDisplay {
    margin-bottom: 3%;
}
.scoreDisplay table {
    font-size: 50%;
    margin: auto;
    width: 95%;
}
.nextRound table {
    float: left;
    width: 35%;
}
#round_1 {
    left: 6%;
    position: absolute;
}
#round_2 {
    position: absolute;
    right: 6%;
}
.overallDisplayInner {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
}
.overallDisplayInner table, tr, td, th {
    font-size: 20px;
}
.overallPlace {
    width: 1%;
}
.overallScore {
    width: 4%;
}
.redCell {
    background: none repeat scroll 0 0 Red;
}
.blueCell {
    background: none repeat scroll 0 0 blue;
}
.greenCell {
    background: none repeat scroll 0 0 green;
}
.yellowCell {
    background: none repeat scroll 0 0 yellow;
}
.mainHeader {
    left: 5%;
    margin: 0;
    width: 8%;
}
.mainHeader p {
    background: none repeat scroll 0 0 yellow;
    font-size: 20px;
    left: 5%;
    text-align: center;
}
