/* Edited with EditCSS */
/**** LINK-tag style sheet best.css ****/

body
{
	font-family: Verdana;
	font-weight: normal;
}

.mainHeader
{
	text-align: center;
	font-size: 20px;
}

table
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	border-style: none;
	font-size: 13px;
	border-collapse: collapse;
	border-spacing: 0px;
}

td,th
{
	border: 1px black solid;
	padding: 5px 0px;
	border-spacing: 0px;
	text-align: center;
}

thead
{
	border-bottom: 2px solid black;
}

@media print
{
	div.scoreSheet
	{
		page-break-after: always;
	}
	thead
	{
		display:table-header-group;
	}
	tbody
	{
		display:table-row-group;
	}
}

@media screen
{
	body
	{
	  background: floralwhite;
	}
	td
	{
		font-size: 20px;
	}
	.redCell
	{
	  background: red;
	}
	.greenCell
	{
	  background: green;
	}
	.blueCell
	{
		background: cornflowerblue;
	}
	.yellowCell
	{
		background: yellow;
	}

	.nextRound table
	{
		position: absolute;
		width: 35%;
	}
	#round_1
	{
		left: 10%;
		float: left;
	}

	#round_2
	{
		right:10%;
	}
	
	.overallDisplayInner
	{
		margin: auto;
		width: 50%;
		float: left;
	}
}


