table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;	
	border-collapse: collapse;
	border: 1px solid;
	text-align: center	
}

thead
{	
	display: table-header-group;
}

th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;	
	/*color: #039;*/
	border-bottom: 2px solid;
}

tr
{
	page-break-inside: avoid;
}

td
{
	padding: 10px;
	/*color: #669;*/
	border-top: 1px solid;
	border-right: 1px solid;
}

.scoreDisplay table
{
	width: 95%;
	margin: auto;
}

.nextRound table
{
    float: left;
    width: 20%;
}

#round_1
{
	position:absolute;
	left: 10%;
}

#round_2
{
	position:absolute;
	right:10%;
}

.overallDisplayInner
{
	float: left;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;	
}

.overallDisplayInner table,tr,td,th
{
	font-size: 30px;
}

.overallPlace
{
	width: 1%;
}

.overallScore
{
	width: 4%;
}

@media print
{
	
}

@media screen
{
	.redCell
	{
		background:Red;
	}

	.blueCell
	{
		background:blue;
	}

	.greenCell
	{
		background:green;
	}

	.yellowCell
	{
		background:yellow;
	}
}