#set( $thead = "<tr><th>Round</th><th>Markers</th><th>Good Cars</th><th>Bad Cars</th><th>Good Logs</th><th>Bad Logs</th><th>Good Coal</th><th>Bad Coal</th><th>Multiplier</th><th>Score</th><th>Total Score</th></tr>" )
<html>
</head>
	<META HTTP-EQUIV="REFRESH" CONTENT="5">
	$css		
</head>
<body>
<div class="mainHeader"><p id="lastRoundHeader">Round#if($!current.Number) #$current.Number#end</p></div>

#foreach( $score in $scores )
#beforeall
<div class="scoreDisplay">
<table id="lastRoundTable">
	<thead><tr><th>Team</th><th>Markers</th><th>Good Cars</th><th>Bad Cars</th><th>Good Logs</th><th>Bad Logs</th><th>Good Coal</th><th>Bad Coal</th><th>Multiplier</th><th>Score</th><th class="totalScore">Total Score</th></tr></thead>
	<tbody>	
#each
		<tr><td>$!score.Name</td><td>$!score.Score.Markers</td><td>$!score.Score.CarsGood</td><td>$!score.Score.CarsBad</td><td>$!score.Score.LogsGood</td><td>$!score.Score.LogsBad</td><td>$!score.Score.CoalGood</td><td>$!score.Score.CoalBad</td><td>$!score.Score.Multiplier</td><td>$!score.Score.TotalScore</td><td class="totalScore">$!score.TotalScore</td></tr>
#afterall
	</tbody>
</table></div>
#end	

#set( $r = 1 )

#foreach( $round in $next )
#each
<div class="nextRound">
	<table id="round_$r">
		<thead><tr><th colspan="100">#if($round.Number > 0)Round #$round.Number#end</th></tr></thead>
		<tbody>
			<tr><td class="redCell">Red</td><td>$round.Red</td></tr>
			<tr><td class="greenCell">Green</td><td>$round.Green</td></tr>
			<tr><td class="blueCell">Blue</td><td>$round.Blue</td></tr>
			<tr><td class="yellowCell">Yellow</td><td>$round.Yellow</td></tr>
		</tbody>
	</table>
</div>
#set( $r = $r + 1 )
#end
</body>
</html>