<html>
$head
<body>
#foreach($round in $rounds)
#beforeall
<div><p>$title</p></div>
<div>
	<table>
		<thead>
			<tr><th>Number</th><th>Red</th><th>Green</th><th>Blue</th><th>Yellow</th></tr>
		</thead>
		<tbody>
#before
	<tr>
#after	
	</tr>
#afterall		
	</table>
	</div>
	
#each
	<td>$round.Number</td><td>$round.Red.Name</td><td>$round.Green.Name</td><td>$round.Blue.Name</td><td>$round.Yellow.Name</td>
#end
</body>
</html>