<html>
<head>
	<script type="text/javascript" src="/$script"></script>
	<link rel="stylesheet" type="text/css" href="/$css"/>		
</head>
<body onload="onLoad()">
<div class="mainHeader" id="roundDisplayHeader"><p>$title</p></div>
#foreach($round in $rounds)
#beforeall
<div class="roundDisplay">
	<table id="roundDislayTable">
		<thead>
			<tr><th>Number</th><th class="redCell">Red</th><th class="greenCell">Green</th><th class="blueCell">Blue</th><th class="yellowCell">Yellow</th></tr>
		</thead>
		<tbody>
#afterall
		</tbody>		
	</table>
</div>	
#each
			<tr><td>$round.Number</td><td>$round.Red.Name</td><td>$round.Green.Name</td><td>$round.Blue.Name</td><td>$round.Yellow.Name</td></tr>
#end
</body>
</html>