<html>
</head>
	<script type="text/javascript" src="$script"></script>
	<link rel="stylesheet" type="text/css" href="$css"/>		
</head>
<body onload="onLoad()">
<div class="mainHeader" id="teamRoundsHeader"><p>$team.Name</p></div>
#foreach($round in $rounds)
#beforeall
<div class="roundDisplay">
	<table id="teamRoundsTable">
		<thead>
			<tr><th>Round</th><th>Color</th></tr>
		</thead>
		<tbody>
#afterall		
		</tbody>
	</table>
</div>	
#each
			<tr><td>$round.Number</td><td>$round.Color</td></tr>
#end
</body>
</html>